.vscode
volumes/*
.env

app/content/*.txt

app/logs/*

# https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
