###########
# App
###########
# MacOS listens on 5000 for airplay
# https://forums.developer.apple.com/forums/thread/682332
APP_PORT_HOST=80
APP_PORT=5000

APP_DEBUG=TRUE
WERKZEUG_DEBUG_PIN=123

INFERENCE_API_URL=http://inference:8089
INFERENCE_SMALL_API_URL=http://inference_small:8090
INFINITY_INSTANCE_URL=http://infinity:7997

###########
# DB
###########
DB_ADAPTER=postgresql
DB_HOSTNAME=db
DB_PORT_HOST=15432
DB_PORT=5432
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app

###########
# Inference
###########
INFERENCE_MODEL_NAME=Llama-3.1
INFERENCE_MODEL_FILE=Meta-Llama-3.1-8B-Instruct-Q6_K.gguf
INFERENCE_NUM_GPU_LAYERS=99
INFERENCE_CONTEXT_SIZE=12000
INFERENCE_PORT=8089

###################################
# Small Inference for simple tasks
###################################
INFERENCE_SMALL_MODEL_NAME=Llama-3.2
INFERENCE_SMALL_MODEL_FILE=Llama-3.2-1B-Instruct-Q6_K.gguf
INFERENCE_SMALL_NUM_GPU_LAYERS=99
INFERENCE_SMALL_CONTEXT_SIZE=1000
INFERENCE_SMALL_PORT=8090

###########
# Infinity
###########
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L12-v2
INFINITY_PORT=7997

######################
# OpenSearch Stack
######################
OPENSEARCH_STACK_VERSION=2.14.0

######################
# OpenSearch Search
######################
OPENSEARCH_HOSTNAME=opensearch-node1
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=Test_12345!@
OPENSEARCH_REST_API_PORT_HOST=9200
OPENSEARCH_PERF_ANALYZER_PORT_HOST=9600

######################
# OpenSearch Dasboard
######################
OPENSEARCH_DASHBOARD_PORT_HOST=5601
