{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
{% if message %}
<div class="alert alert-light" role="alert">
  <p>
    {{ message }}
  </p>
</div>
{% endif %}

<form method="post">
  <div class="mb-3">
    <label for="chat-message" class="form-label">Send a message</label>
    <input class="form-control" type="text" id="chat-message" name="chat-message" required
      placeholder="Send a chat message such as 'Hi'" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
