.vscode
.env

volumes/*
models/*
!models/.gitkeep

app/app/content/*.txt
app/app/logs/*
app/app/static/components/*
app/app/static/generated-images/*
!app/app/static/generated-images/.gitkeep
!app/app/static/generated-images/test.png

# https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
