ssh_connection=test@1.1.1.1
server_home_dir=/home/ubuntu
project_dir_name=app
model_file_download_url=https://huggingface.co/bartowski/Phi-3.5-mini-instruct-GGUF/resolve/main/Phi-3.5-mini-instruct-Q6_K.gguf
